<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Summer Series</title>
  </head>
  <body>
    <h1>Summer Series</h1>
    <nav>
      <a href="/addParticipant">Add Participant</a>
      <a href="/administration">Administration</a>
      <a href="/timeKeeper">Timer</a>
    </nav>
  </body>
</html>
