<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Time Keeper</title>
  </head>
  <body>
    <h1 id="timer">00:00:00</h1>
    <div><button class="start-time">Start Time</button></div>
    <div>
      <label for="raceNumber">Race Number:</label>
      <input type="text" name="raceNumber" id="raceNumber" required />
      <button class="submit-number">Submit</button>
    </div>
  </body>
</html>
